<StackLayout>
	<BottomNavigation selectedIndex="0">
		<TabStrip>
			<TabStripItem>
				<Image src="font://&#xf015;" class="fas t-36"></Image>
			</TabStripItem>
			<TabStripItem class="special">
				<Image src="font://&#xf0fe;" class="fas t-36"></Image>
			</TabStripItem>
			<TabStripItem class="special">
				<Image src="font://&#xf007;" class="fas t-36"></Image>
			</TabStripItem>
		</TabStrip>

		<TabContentItem>
			<StackLayout>
				<ns-timeline></ns-timeline>
			</StackLayout>
		</TabContentItem>
		<TabContentItem>
			<GridLayout>
				<Label text="Account Page" class="h2 text-center"></Label>
			</GridLayout>
		</TabContentItem>
		<TabContentItem>
			<GridLayout>
				<Label text="Search Page" class="h2 text-center"></Label>
			</GridLayout>
		</TabContentItem>
	</BottomNavigation>
</StackLayout>
